<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="container">

    <h1 class="title">Carros</h1>

    <button class="button is-success mb-2">
        <span class="icon is-small">
            <i class="fas fa-plus"></i>
        </span>
        <span>Novo Carro</span>
    </button>


    <section class="grid is-col-min-10">

        <div class="card cell has-background-grey-dark " th:each="car: ${cars}">

            <header class="card-header has-background-primary">
                <p class="card-header-title" th:text="${car.marca}"></p>
                <span class="tag is-warning" th:text="${car.modelo}"></span>
            </header>

            <div class="card-content">
                <div class="content has-text-light" th:text="${car.preco}"></div>

                <progress class="progress is-danger" th:value="${car.preco}" max="100">
                    30%
                </progress>
            </div>

            <footer class="card-footer">
                <button class="button is-danger is-outlined">
                    <span>Delete</span>
                    <span class="icon is-small">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </footer>

        </div>

    </section>



</body>

</html>